body{
  font-weight: normal;
  font-family: serif;

  }

.answer{
  display:none;
}
.jumbotron {
    margin-bottom: 0px;
    height:200px;
    background-position: 0% 35%;

    background-size: cover ;
    background-repeat: no-repeat;
    color: coral;
    
}
.jumbotron h4{
  text-decoration: underline;
}
ol{
  list-style-position:inside;
}
input{
  text-align: center;
}.container{
  display:show;
  background-repeat: no-repeat;
  background-size: cover;
}
.answer p{
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.answer h2{
  color: DarkBlue;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
